:root {
  font-size: 62.5%;
}

/* Login - Web */
.login,.signup {
  background: url("img/frutas.png") no-repeat;
  background-size: cover;
}
html, body {
  height:100%;
}

label {
  font-size: 1.6rem;
}

.form-control {
  font-size: 1.6rem;
  line-height: 1.5rem;
  border-radius: 0.5rem;
}

.navbar {
  background-color: #FF7B01 !important;
}
.navbar a {
  color: #fff !important;
}
.navbar .collapse {
  justify-content: center;
}
.navbar .collapse li{
  margin-left: 6.0rem;
  font-size: 2.0rem;
}
.navbar .collapse li:nth-child(1){
  margin-left: 0px !important;
}
.navbar .container-fluid .row {
  width: 100% !important;
}
.navbar-expand-lg {
  position: sticky;
  top: 0;
  z-index: 2;
}
.login .container, .signup .container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup .background-card{
  height: 81.0rem;
}
.background-card {
  border-radius: .5rem;
  height: 70.0rem;
  width:80.0rem;
  background-color: #FFFFFF;
}
.centralize-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.login-text {
  color: #FF7B01;
  font-size: 2.5rem;
}
.centralize-container form {
  width: 65%;
}
.orange-button {
  padding: 1.0rem 4.1rem;
  color: #FFFFFF;
  background: #FF7B01;
  border-radius: .5rem;
  font-size: 1.6rem;
}
.forgot-password {
  color: #000000;
  font-size: 1.4rem;
}
.signup-button {
  padding: 1.0rem .9rem;
  color: #000000;
  background: #FFFFFF;
  border: .1rem solid #FF7B01;
  border-radius: .5rem;
  font-size: 1.6rem;
}
#carouselExampleIndicators {
  height: 100%;
}
.slider-fruit {
  height: 24.0rem;
}
.slider-fruit>div {
  line-height: 5.0rem;
  flex-direction:column;
}
.slider-fruit div:last-child {
  line-height: 3.0rem;
}
.slider-fruit div:last-child p:last-child {
  font-size:2.2rem;
  color: #8E8E8E;
}
.carousel-indicators li {
  background: #FF7B01;
  border-radius: 50%;
  width: 2.5rem;
}
.left-slider {
  color: #8E8E8E;
  font-size: 5.5rem;
}
.card-img-top {
  width: 50%;
}
.card-link {
  color: #FF7B01;
  font-size: 1.8rem;
  text-decoration: underline;
  cursor: pointer;
}
.card-title {
  font-size: 2.8rem;
}
.card-text, .card-text.price {
  font-size: 2.0rem;
}

#products-list {
  height:30.0rem;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 40.0rem;
  height: 50rem;
  background-color: white;
  position: absolute;
  z-index: 99;
  box-shadow: .1rem .3rem .8rem #888888;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 10%;
  visibility: hidden;
  border-radius: 2.0rem;
  font-size: 1.6rem;
}
.modal,
.modal-title,
.product-container,
.forgot-password,
#cart-total-message,
#cart-total-value,
#cart-finish-button,
#delivery-subtotal-message,
#delivery-subtotal-value,
#delivery-message,
#delivery-value,
#delivery-total-message,
#delivery-total-value {
  font-size: 2.0rem;
}
.row {
  width: initial !important;
}
.button-rounded {
  background-color: #FF7B01;
  color: #FFFFFF;
  border-radius: 71%;
  height: 25px;
  width: 25px;
  text-align: center;
  font-size: 16px;
}
#formPayment, #formAddress {
  margin-top: 200px;
}
.save-button {
  padding: 10px 41px;
  background-color: #FF7B01;
  color: #FFFFFF;
  border: none;
  font-size: 1.2rem;
}
.orange-text {
  color: #FF7B01;
}
.purchase {
  background: #FF7B01;
  border: none;
  color: #FFFFFF;
  padding: 4px 29px;
  border-radius: 7px;
}
.modal-background {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  filter: brightness(50%);
  position: absolute;
  z-index: 98;
  visibility: hidden;
}
.text-menu-mobile {
  color: #707070;
}
.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.product-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-info {
  width: 30.0rem;
  height: 60%;
  border: .1rem solid #BFBFBF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2.0rem .0rem;
}

.navbar.fixed-bottom {
  background-color: #F5F5F5 !important;
}
.bold {
  font-weight: bolder;
}
.to-cart-button {
  width: 12.5rem;
  height: 4.0rem;
  background-color: #FF7B01;
  border-radius: .8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  letter-spacing: .2rem;
  font-weight: bolder;
  filter: drop-shadow(.0rem .4rem .4rem rgba(0, 0, 0, 0.25));
  cursor: pointer;
  transition: width, background-color 0.5s ease;
}

.product-image {
  width: 12.2rem;
  height: 11.4rem;
}

.align-item-prop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.align-item-prop input {
  width: 70%;
}

.item-prop-container {
  width: 70%;
}

.quantity-selector {
  width: 10.0rem;
  height: 4.0rem;
  border: .1rem solid;
  border-radius: 1.0rem;
  display: flex;
  justify-content:space-around;
  align-items: center;
  font-weight: bolder;
  cursor: pointer;
}

.added-to-cart {
  width: 15.0rem;
  background-color: green;
}

/*top bar styles*/

.top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.0rem;
  background: #F5F5F5;
  height: 75px;
}

.top-bar spam {
  font-size: 1.4rem;
  font-weight: 500;
  color: #8E8E8E;
}

.top-bar-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.small-logo {
  /*font-family: 'Sansation';*/
  font-size: 2.4rem;
  text-transform: uppercase;
  color: #FF7B01;
  position: absolute;
  left: 50%;
}

.top-bar-links {
  display: flex;
  list-style-type: none;
}

.top-bar-back {
  padding-left: 2.0rem;
}

.top-bar-links li {
  padding-right: 2.0rem;
}

#logout-button {
  cursor: pointer;
}

@media  (max-width: 700px) {
  .small-logo {
    padding-left: 2.0rem;
    text-align: initial;
    padding-left: 2.0rem;
    left: 0;
    right: 0;
  }
  .top-bar spam {
    display: none;
  }
}

/* font awesome icons customization*/

.small-icon {
  font-size: 2.0rem;
  color: #8E8E8E;
}

.small-icon:hover {
  color: #FF7B01;
}

/* admin page */

.admin-main-box {
  display: flex;
  flex-direction: column;
  margin: 5.0rem;
  padding: 5.0rem;
  border: .1rem solid #BFBFBF;
}

.admin-main-box button {
  align-self: center;
  margin-top: 3.0rem;
}

.admin-main-box h2 {
  font-size: 2.4rem;
  margin-bottom: 3.0rem;
}

.admin-search {
  border: 0;
  border-left: .3rem solid #FF7B01;
  border-bottom: .1rem solid #BFBFBF;
  padding: 1.0rem;
  margin-bottom: 3.0rem;
  font-size: 16px;
}

.admin-list-item {
  font-size: 16px;
  border-top: .1rem solid #BFBFBF;
  display: flex;
}

.admin-list-item:last-child {
  border-bottom: .1rem solid #BFBFBF;
}

.admin-list-item a:first-child {
  flex-grow: 1;
  align-self: center;
  color: #000;
}

.admin-list-item a {
  padding-right: 1.0rem;
}
#carouselExampleIndicators {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 576px) {
  .center-mobile {
    text-align: center;
  }
  .only-mobile {
    display: block !important;
  }
  .only-web {
    display: none;
  }
  form {
    margin-top: 2.0rem;
  }
  .form-group label {
    display: none;
  }
  .background-card {
    width: 95%;
  }
  .centralize-container form {
    width: 100%;
  }
  .signup .background-card {
    height: 68.0rem;
  }
}
@media only screen and (max-width: 767px) {
  .display-none-720 {
    display: none !important;
  }
}
@media only screen and (max-width: 450px) {
  .modal-container {
    width: 90%;
  }
  .product-info {
    width: 80%;
  }
  .item-prop-container {
    width: 70%;
  }
}
